In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
%matplotlib inline

In [55]:
mat_df=pd.read_csv("matches.csv")
del_df=pd.read_csv("deliveries.csv")

In [56]:
mat_df.shape

(756, 18)

In [57]:
del_df.shape

(179078, 21)

In [58]:
mat_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [59]:
del_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [60]:
mat_df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [61]:
del_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [62]:
mat_df['result'].unique()

array(['normal', 'tie', 'no result'], dtype=object)

In [63]:
mat_df.query("result=='no result'")

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [64]:
mat_df.query("toss_decision=='bat' & toss_winner==team2")

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [65]:
mat_df.query("toss_decision=='field' & toss_winner==team1")

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [66]:
cl_mat_df=mat_df.drop(mat_df.query("result=='tie'or result=='no result'").index)

In [67]:
print(mat_df.shape)
print(cl_mat_df.shape)

(756, 18)
(743, 18)

# Which team has won maximum number of matches while chasing?

In [68]:
cl_mat_df.query("win_by_wickets>0")["winner"].value_counts().index[0]

'Kolkata Knight Riders'

# Which team has lost maximum number of matches while chasing?

In [69]:
cl_mat_df.query("win_by_wickets==0")["team2"].value_counts().index[0]

'Delhi Daredevils'

# Which toss decision is best for each ground?

In [70]:
dic_ven=cl_mat_df.groupby('venue').groups

In [71]:
toss_dec={}

In [72]:
for i in dic_ven:
    c=0
    for j in dic_ven[i]:
        if(cl_mat_df.loc[j]["winner"]==cl_mat_df.loc[j]["team1"]):
            c+=1
    if c > (len(dic_ven[i])-c):
        toss_dec[i]='bat'
    else:
        toss_dec[i]='field'

In [73]:
toss_dec

{'ACA-VDCA Stadium': 'field',
 'Barabati Stadium': 'bat',
 'Brabourne Stadium': 'bat',
 'Buffalo Park': 'bat',
 'De Beers Diamond Oval': 'field',
 'Dr DY Patil Sports Academy': 'field',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 'bat',
 'Dubai International Cricket Stadium': 'field',
 'Eden Gardens': 'field',
 'Feroz Shah Kotla': 'field',
 'Feroz Shah Kotla Ground': 'field',
 'Green Park': 'field',
 'Himachal Pradesh Cricket Association Stadium': 'bat',
 'Holkar Cricket Stadium': 'field',
 'IS Bindra Stadium': 'field',
 'JSCA International Stadium Complex': 'field',
 'Kingsmead': 'bat',
 'M Chinnaswamy Stadium': 'field',
 'M. A. Chidambaram Stadium': 'field',
 'M. Chinnaswamy Stadium': 'field',
 'MA Chidambaram Stadium, Chepauk': 'bat',
 'Maharashtra Cricket Association Stadium': 'field',
 'Nehru Stadium': 'bat',
 'New Wanderers Stadium': 'field',
 'Newlands': 'bat',
 'OUTsurance Oval': 'field',
 'Punjab Cricket Association IS Bindra Stadium, Mohali': 'field',
 'Punjab Cricket Association Stadium, Mohali': 'field',
 'Rajiv Gandhi International Stadium, Uppal': 'field',
 'Rajiv Gandhi Intl. Cricket Stadium': 'bat',
 'Sardar Patel Stadium, Motera': 'bat',
 'Saurashtra Cricket Association Stadium': 'field',
 'Sawai Mansingh Stadium': 'field',
 'Shaheed Veer Narayan Singh International Stadium': 'field',
 'Sharjah Cricket Stadium': 'field',
 'Sheikh Zayed Stadium': 'field',
 "St George's Park": 'field',
 'Subrata Roy Sahara Stadium': 'bat',
 'SuperSport Park': 'field',
 'Vidarbha Cricket Association Stadium, Jamtha': 'bat',
 'Wankhede Stadium': 'field'}

# Which player has won maximum number of MoM awards while chasing?

In [74]:
mat_df.query("win_by_wickets > 0")['player_of_match'].value_counts().index[0]

'YK Pathan'

# Which batsman has played maximum number of dot balls?

In [75]:
del_df.query("total_runs==0")['batsman'].value_counts().index[0]

'V Kohli'

# Which batsmen came to crease but never got a chance to face a ball?

In [76]:
never_face={}

In [77]:
dic_id=del_df.groupby('match_id').groups

In [78]:
for r in dic_id:
    i=dic_id[r][0]
    j=dic_id[r][-1]
    ns=del_df[i:(j+1)]['non_striker'].unique()
    bat=del_df[i:(j+1)]['batsman'].unique()
    dif=np.setdiff1d(ns,bat)
    if len(dif)!=0:
        never_face[r]=dif

In [79]:
never_face

{2: array(['MJ McClenaghan'], dtype=object),
 3: array(['DR Smith'], dtype=object),
 4: array(['R Bhatia'], dtype=object),
 10: array(['A Nehra'], dtype=object),
 11: array(['Sandeep Sharma'], dtype=object),
 21: array(['CH Morris'], dtype=object),
 28: array(['MG Johnson', 'MJ McClenaghan'], dtype=object),
 29: array(['MK Pandey'], dtype=object),
 31: array(['PJ Cummins'], dtype=object),
 37: array(['S Aravind'], dtype=object),
 43: array(['A Nehra', 'JD Unadkat'], dtype=object),
 45: array(['S Aravind'], dtype=object),
 51: array(['S Nadeem'], dtype=object),
 54: array(['Sandeep Sharma'], dtype=object),
 64: array(['PP Ojha'], dtype=object),
 71: array(['AB Dinda'], dtype=object),
 74: array(['JDP Oram'], dtype=object),
 75: array(['I Sharma'], dtype=object),
 79: array(['Joginder Sharma'], dtype=object),
 80: array(['DP Vijaykumar', 'SB Bangar'], dtype=object),
 82: array(['A Nehra'], dtype=object),
 90: array(['A Kumble'], dtype=object),
 91: array(['S Sreesanth'], dtype=object),
 95: array(['GD McGrath'], dtype=object),
 109: array(['A Nel'], dtype=object),
 111: array(['Z Khan'], dtype=object),
 115: array(['MM Patel'], dtype=object),
 118: array(['PR Shah'], dtype=object),
 119: array(['DW Steyn'], dtype=object),
 120: array(['PP Chawla', 'T Kohli'], dtype=object),
 125: array(['DL Vettori', 'L Balaji'], dtype=object),
 129: array(['R Vinay Kumar'], dtype=object),
 130: array(['K Goel'], dtype=object),
 131: array(['MS Gony'], dtype=object),
 135: array(['Z Khan'], dtype=object),
 138: array(['AB Agarkar'], dtype=object),
 139: array(['RR Powar'], dtype=object),
 140: array(['Y Venugopal Rao'], dtype=object),
 141: array(['A Nehra', 'S Tyagi'], dtype=object),
 148: array(['A Kumble'], dtype=object),
 150: array(['SL Malinga'], dtype=object),
 155: array(['RP Singh'], dtype=object),
 157: array(['PP Chawla'], dtype=object),
 158: array(['PJ Sangwan'], dtype=object),
 159: array(['S Tyagi'], dtype=object),
 160: array(['SK Warne'], dtype=object),
 163: array(['AB Agarkar'], dtype=object),
 164: array(['Jaskaran Singh'], dtype=object),
 170: array(['DS Kulkarni', 'SL Malinga'], dtype=object),
 176: array(['SA Asnodkar', 'Z Khan'], dtype=object),
 183: array(['R Sathish'], dtype=object),
 187: array(['AD Mathews'], dtype=object),
 188: array(['SL Malinga'], dtype=object),
 193: array(['AA Jhunjhunwala'], dtype=object),
 195: array(['PP Ojha'], dtype=object),
 196: array(['WP Saha'], dtype=object),
 198: array(['SK Warne'], dtype=object),
 199: array(['PP Ojha'], dtype=object),
 202: array(['C Ganapathy'], dtype=object),
 204: array(['Y Venugopal Rao'], dtype=object),
 206: array(['S Anirudha'], dtype=object),
 210: array(['Harmeet Singh', 'PP Ojha'], dtype=object),
 214: array(['P Kumar'], dtype=object),
 216: array(['SB Jakati'], dtype=object),
 227: array(['Kamran Khan'], dtype=object),
 232: array(['SB Jakati'], dtype=object),
 233: array(['Harmeet Singh'], dtype=object),
 247: array(['KA Pollard'], dtype=object),
 250: array(['S Nadeem'], dtype=object),
 258: array(['MK Tiwary'], dtype=object),
 266: array(['AB Agarkar'], dtype=object),
 268: array(['A Mithun'], dtype=object),
 271: array(['M Kartik'], dtype=object),
 273: array(['TL Suman'], dtype=object),
 275: array(['MV Boucher'], dtype=object),
 276: array(['JA Morkel'], dtype=object),
 283: array(['RP Singh'], dtype=object),
 285: array(['SK Trivedi'], dtype=object),
 286: array(['I Sharma'], dtype=object),
 287: array(['SL Malinga'], dtype=object),
 289: array(['WP Saha'], dtype=object),
 291: array(['A Mithun'], dtype=object),
 292: array(['DS Kulkarni', 'SL Malinga'], dtype=object),
 302: array(['SB Jakati'], dtype=object),
 305: array(['RG Sharma'], dtype=object),
 307: array(['S Badrinath'], dtype=object),
 310: array(['R Sharma'], dtype=object),
 313: array(['TP Sudhindra'], dtype=object),
 318: array(['M Vijay'], dtype=object),
 320: array(['Z Khan'], dtype=object),
 329: array(['B Kumar'], dtype=object),
 331: array(['PA Patel'], dtype=object),
 343: array(['P Awana'], dtype=object),
 345: array(['AB Agarkar'], dtype=object),
 347: array(['LR Shukla'], dtype=object),
 353: array(['M Kartik'], dtype=object),
 357: array(['M Morkel'], dtype=object),
 366: array(['PA Reddy'], dtype=object),
 370: array(['MM Patel'], dtype=object),
 376: array(['DW Steyn'], dtype=object),
 377: array(['GB Hogg'], dtype=object),
 382: array(['UT Yadav'], dtype=object),
 385: array(['S Sreesanth'], dtype=object),
 386: array(['DP Nannes'], dtype=object),
 388: array(['A Mishra'], dtype=object),
 400: array(['L Balaji', 'P Awana'], dtype=object),
 405: array(['MS Gony'], dtype=object),
 406: array(['JH Kallis'], dtype=object),
 412: array(['PP Chawla'], dtype=object),
 416: array(['I Sharma'], dtype=object),
 417: array(['AT Rayudu'], dtype=object),
 424: array(['G Gambhir'], dtype=object),
 431: array(['M Rawat'], dtype=object),
 434: array(['AT Rayudu', 'Harbhajan Singh'], dtype=object),
 435: array(['I Sharma'], dtype=object),
 445: array(['LJ Wright'], dtype=object),
 449: array(['A Mishra'], dtype=object),
 451: array(['S Kaul'], dtype=object),
 452: array(['S Badrinath'], dtype=object),
 454: array(['MM Patel'], dtype=object),
 461: array(['DW Steyn'], dtype=object),
 463: array(['NM Coulter-Nile'], dtype=object),
 465: array(['BW Hilfenhaus'], dtype=object),
 466: array(['AR Patel'], dtype=object),
 468: array(['MA Starc'], dtype=object),
 471: array(['STR Binny', 'YS Chahal'], dtype=object),
 473: array(['Z Khan'], dtype=object),
 478: array(['R Vinay Kumar'], dtype=object),
 480: array(['WD Parnell'], dtype=object),
 484: array(['AP Tare'], dtype=object),
 490: array(['R Ashwin'], dtype=object),
 494: array(['KK Cooper'], dtype=object),
 497: array(['RN ten Doeschate'], dtype=object),
 511: array(['Parvez Rasool', 'R Vinay Kumar'], dtype=object),
 513: array(['KK Cooper'], dtype=object),
 514: array(['M Morkel', 'SP Narine'], dtype=object),
 519: array(['DJ Muthuswami'], dtype=object),
 520: array(['TG Southee'], dtype=object),
 521: array(['DJ Bravo'], dtype=object),
 522: array(['PP Chawla'], dtype=object),
 524: array(['R Vinay Kumar'], dtype=object),
 528: array(['MK Tiwary', 'R Dhawan'], dtype=object),
 530: array(['J Suchith'], dtype=object),
 539: array(['JJ Bumrah'], dtype=object),
 549: array(['Harbhajan Singh'], dtype=object),
 554: array(['MM Sharma', 'Mandeep Singh', 'YS Chahal'], dtype=object),
 560: array(['GJ Bailey', 'UT Yadav'], dtype=object),
 564: array(['BE Hendricks'], dtype=object),
 566: array(['HV Patel'], dtype=object),
 568: array(['SN Khan'], dtype=object),
 575: array(['RA Jadeja'], dtype=object),
 579: array(['MG Johnson'], dtype=object),
 585: array(['MJ McClenaghan'], dtype=object),
 590: array(['HV Patel'], dtype=object),
 592: array(['I Sharma'], dtype=object),
 596: array(['SP Narine'], dtype=object),
 597: array(['KH Pandya', 'MM Sharma'], dtype=object),
 598: array(['A Nehra'], dtype=object),
 601: array(['P Kumar'], dtype=object),
 602: array(['GB Hogg'], dtype=object),
 604: array(['S Kaushik'], dtype=object),
 606: array(['VR Aaron'], dtype=object),
 614: array(['DJ Bravo'], dtype=object),
 615: array(['STR Binny'], dtype=object),
 616: array(['R Bhatia'], dtype=object),
 622: array(['GJ Maxwell'], dtype=object),
 634: array(['BB Sran', 'M Morkel'], dtype=object),
 7896: array(['Washington Sundar'], dtype=object),
 7899: array(['C Munro', 'SS Iyer'], dtype=object),
 7905: array(['BB Sran'], dtype=object),
 7906: array(['S Mavi'], dtype=object),
 7908: array(['JD Unadkat'], dtype=object),
 7912: array(['CH Morris'], dtype=object),
 7914: array(['JD Unadkat'], dtype=object),
 7917: array(['Mohammed Siraj'], dtype=object),
 7919: array(['V Shankar'], dtype=object),
 7920: array(['RA Jadeja'], dtype=object),
 7921: array(['Basil Thampi'], dtype=object),
 7923: array(['RA Jadeja'], dtype=object),
 7924: array(['MJ McClenaghan'], dtype=object),
 7925: array(['J Archer'], dtype=object),
 7926: array(['KV Sharma'], dtype=object),
 7927: array(['R Ashwin'], dtype=object),
 7930: array(['PP Chawla'], dtype=object),
 7934: array(['JP Duminy'], dtype=object),
 7935: array(['V Shankar'], dtype=object),
 7936: array(['J Archer'], dtype=object),
 7940: array(['BA Stokes', 'JP Duminy'], dtype=object),
 7947: array(['S Gill', 'S Kaul'], dtype=object),
 7948: array(['Mustafizur Rahman'], dtype=object),
 7951: array(['PP Chawla'], dtype=object),
 7952: array(['P Krishna'], dtype=object),
 11139: array(['JJ Bumrah'], dtype=object),
 11145: array(['M Markande'], dtype=object),
 11146: array(['HV Patel'], dtype=object),
 11148: array(['JD Unadkat'], dtype=object),
 11149: array(['M Ur Rahman'], dtype=object),
 11152: array(['I Sharma'], dtype=object),
 11310: array(['A Joseph'], dtype=object),
 11318: array(['KH Pandya'], dtype=object),
 11320: array(['Kuldeep Yadav'], dtype=object),
 11322: array(['KA Pollard', 'Mohammed Siraj'], dtype=object),
 11323: array(['JD Unadkat'], dtype=object),
 11324: array(['YK Pathan'], dtype=object),
 11325: array(['I Sharma', 'K Paul', 'KA Pollard'], dtype=object),
 11326: array(['KD Karthik'], dtype=object),
 11330: array(['DW Steyn', 'SN Thakur'], dtype=object),
 11331: array(['SV Samson'], dtype=object),
 11332: array(['DJ Bravo'], dtype=object),
 11335: array(['Imran Tahir'], dtype=object),
 11336: array(['S Kaul'], dtype=object),
 11337: array(['UT Yadav'], dtype=object),
 11340: array(['UT Yadav'], dtype=object),
 11342: array(['Rashid Khan'], dtype=object),
 11347: array(['SP Narine'], dtype=object),
 11413: array(['B Kumar', 'TA Boult'], dtype=object),
 11415: array(['JJ Bumrah'], dtype=object)}

# Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [80]:
for i in range(1,7):
    print(str(i)+"s",del_df.query("batsman_runs=="+str(i))['bowler'].value_counts().index[0])

1s Harbhajan Singh
2s A Mishra
3s P Kumar
4s UT Yadav
5s AB Dinda
6s PP Chawla

# Which batsman got stumped out maximum number of times?

In [81]:
del_df.query("dismissal_kind=='stumped'")['player_dismissed'].value_counts().index[0]

'SK Raina'

# Which non-striker has been part of maximum number of runouts?

In [82]:
del_df.query("dismissal_kind=='run out' and player_dismissed==non_striker")["player_dismissed"].value_counts().index[:3]

Index(['AB de Villiers', 'G Gambhir', 'M Vijay'], dtype='object')

# Make at least 5 more new queries and find answers to them

Q1: Matches in every season

In [83]:
mat_df['season'].value_counts()

2013    76
2012    74
2011    73
2019    60
2018    60
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

Q2: Batsman that hit most number of 6

In [84]:
del_df.query("total_runs>5")['batsman'].value_counts().index[0]

'CH Gayle'

Q3: City hosting most matches

In [85]:
mat_df["city"].value_counts().index[0]

'Mumbai'

Q4: Umpires that servered as First Umpire but not as a Second Umpire

In [86]:
set(mat_df["umpire1"].unique())-set(mat_df["umpire2"].unique())

{'AY Dandekar',
 'Aleem Dar',
 'Asad Rauf',
 'BF Bowden',
 'GAV Baxter',
 'K Bharatan',
 'Marais Erasmus',
 'RM Deshpande',
 'Sundaram Ravi',
 'YC Barde'}

Q5: print the most winning team year wise

In [87]:
season_grp=mat_df.groupby('season')

In [88]:
l=list(mat_df['season'].unique())
for i in l:
    print("Most win "+str(i)+": ",end="")
    print(mat_df.query("season=="+str(i))['winner'].value_counts().index[0])

Most win 2017: Mumbai Indians
Most win 2008: Rajasthan Royals
Most win 2009: Delhi Daredevils
Most win 2010: Mumbai Indians
Most win 2011: Chennai Super Kings
Most win 2012: Kolkata Knight Riders
Most win 2013: Mumbai Indians
Most win 2014: Kings XI Punjab
Most win 2015: Chennai Super Kings
Most win 2016: Sunrisers Hyderabad
Most win 2018: Chennai Super Kings
Most win 2019: Mumbai Indians